body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.main_content {
    display: flex;           
    justify-content: center;
    align-items: center;     
    height: 100vh;        
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 500px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
}

.rectangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    border: 1px solid #0D2D49;
    border-radius: 50px;
    width: 345px;
}

.rectangulo p {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
}

/* .weird_bar {
    display: flex;
    align-items: center;
    height: 1px;
    border: 1px solid #0D2D49;
    width: 345px;
    background-color: #0D2D49;
}

.circle_div {
    height: 10px;
    width: 10px;
    border: 1px solid #0D2D49;
    background-color: black;
    border-radius: 50%;
    margin-left: 25px;
}

.line_div {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 16px;
}

.line_div1 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div2 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div3 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div4 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div5 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div6 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div7 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div8 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div9 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div10 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.line_div11 {
    height: 10px;
    width: 1px;
    border: 1px solid #0D2D49;
    background-color: black;
    margin-left: 22px;
}

.linhas {
    display: flex;
    padding-left: 20px;
} */

.form input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 2px;
    border-radius: 5px;  
    background: #0D2D49;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #0D2D49;
    cursor: pointer;
  }


