.container {
    display: flex;
    background-color: rgba(0, 204, 255, 0.068);
    height: 88px;
    width: 1000px;
    border: solid 1px rgba(0, 47, 255, 0.774);
    align-items: center;
    text-align: left;
    font-size: 35px;
}

.container ul li {
    display: inline;
    padding: 25px;
}

.container ul li:first-child {
    font-weight: bold;
}
