

body {
    background-color: white;
    width: 1920px;
    height: 3391px;
}



/************************************************************************************************/
/********************************** Header ******************************************************/
/************************************************************************************************/
/************************************************************************************************/


.maio_box {
    width: 100%;
    height: 1078px;
}


/************************************************************************************************/
/************************************************************************************************/



/************************************************************************************************/
/********************************** Main Content ************************************************/
/************************************************************************************************/
/************************************************************************************************/


.body_box {
    display: flex;
    height: 2069px;
    background-color: #D9D9D9;
}

.content_box{
    display: flex;
    background-color: white;
    margin-top: 71px;
    margin-left: 93px;
    margin-right: 93px;
    padding: 100px;
}


/************************************************************************************************/
/************************************************************************************************/



/************************************************************************************************/
/********************************** Collumns ****************************************************/
/************************************************************************************************/
/************************************************************************************************/


.right_column {
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: space-between;
    width: 40%;
    margin: 25px;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 25px;
}



/************************************************************************************************/
/************************************************************************************************/




/************************************************************************************************/
/********************************** Lorem Container ********************************************/
/************************************************************************************************/
/************************************************************************************************/



.lorem_container {
    height: 50%;
}

.lorem_title h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: left;
}

.lorem_text p {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.57px;
    text-align: left;
}



/************************************************************************************************/
/************************************************************************************************/





/************************************************************************************************/
/********************************** Eventos Container *******************************************/
/************************************************************************************************/
/************************************************************************************************/


.eventos_container {
    height: 50%;
}

.eventos_container_title p {
    font-size: 50px;
}


/************************************************************************************************/
/********************************** Eventos left side *******************************************/

.eventos_calendar_container {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 10px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 20px; 
}

.eventos_date_calendar_container {
    display: flex;
    padding: 5px;
    width: 17%; /* funfa, n vou mexer */   
}
    
.initial_day_container_day {
    font-size: 40px;
}

.final_day_container_day {
    font-size: 20px;
}

.gap_container {
    font-size: 22px;
    color: grey;
}

.initial_day_container_month {
    color: green;
    font-size: 20px;
}

.final_day_container_month {
    color: green;
    font-size: 10px;
}


/************************************************************************************************/
/********************************** Eventos Right side ******************************************/


.eventos_despription_calendar_container {
    width: 80%; /* funfa n vou mexer */
}

.eventos_despription_calendar_container_title {
    font-size: 25px;
    color: grey;
}

.eventos_despription_calendar_container_location {
    font-size: 15px;
    color: grey;
}

.location-icon {
    color: grey;
    margin-right: 5px;
}



/************************************************************************************************/
/************************************************************************************************/



/************************************************************************************************/
/********************************** Right top Conatiner *****************************************/
/************************************************************************************************/
/************************************************************************************************/


.right_picture_container {
    height: 50%;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.results_jpg {
    padding-top: 180px;
    width: 570px;
    height: 428px;
}


/************************************************************************************************/
/************************************************************************************************/





/************************************************************************************************/
/********************************** Grid Container **********************************************/
/************************************************************************************************/
/************************************************************************************************/


.main_grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
    margin-bottom: 20px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: white; 
}

.bupi {
    grid-column: span 6;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.complexos_desportivos {
    grid-column: span 3;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.perigo_de_incendio_rural {
    grid-column: span 3;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contactos {
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.biblioteca {
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.orcamento_participativo {
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.via_verde_investimento {
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.urbanismo{
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.arquivo_municipal {
    grid-column: span 2;
    padding: 20px;
    background-color: #00897B;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


.grid-item p {
    margin: 0;
    font-size: 18px;
}



/************************************************************************************************/
/************************************************************************************************/



/************************************************************************************************/
/********************************** Footer ******************************************************/
/************************************************************************************************/
/************************************************************************************************/



.footer {
    height: 561px;
    background-color: #463738;
    display: flex;
    justify-content: space-between; 
}

.footer h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: white;
}

.footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer li {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    margin-bottom: 30px; 
}

.footler_left_menu {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: left; 
    padding-left: 93px;
    padding-top: 109px;
}

.footler_right_menu {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: left; 
    padding-top: 109px;
}

.icon {
    margin-right: 10px; 
    font-size: 24px; 
    line-height: 27.6px;
    font-weight: 400;
}

.icon i {
    color: white; 
}

.trademark {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: white;
}

.input{
    text-align: left;
    height: 50px;
    width: 411px;
    border: none;
    font-size: 24px;
    line-height: 28.13px;
    color: #BEBBBB;
    padding-left: 25px;
}

.checkbox {
    height: 18px;
    width: 18px;
    align-content: center;
}


label {
    color: white; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 28.13px; 
    align-content: center;
}

.sub {
    background-color: #78E053;
    width: 411px;
    text-align: center;
    height: 50px;
    color:white;
    font-size: 24px;
}


/************************************************************************************************/
/************************************************************************************************/
