body {
    background-color: black;
}

.Pics {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.Pics > div {
    width: 30px;
    transition: ease 200ms;
}

.Pics > div:hover {
    width: 250px; 
}

.Pic1 img, .Pic2 img, .Pic3 img, .Pic4 img {
    width: 100%; 
    height: 300px; 
    border: solid 4px white;
}